.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  width: 190px;
}

.archive {
  color: red;
  text-align: end;
}

div {
  margin: 5px;
}

@media screen and (max-width: 480px) {
  .container {
    width: 80%;
  }

}
